    <div id="follower-popup"
        class="fixed hidden ml-[calc(50vw)] md:mt-[50vh] w-full max-h-[80%] h-auto md:w-[36rem] transform translate-x-[-50%] md:translate-y-[-50%] bg-white md:rounded-[.8rem] p-2 z-20">
        <div class="flex justify-between p-[.5rem] border-b border-[#ccc] ">
            <div id="close-follower" class="px-[2rem] py-[1.2rem] font-medium rounded-[.6rem] cursor-pointer transition ease-in-out duration-300 text-sm hover:opacity-80 bg-white text-black flex justify-center items-center h-[2rem] border
                            border-black border-solid w-[5rem]">Cancel</div>
            <div class = "pt-[0.35rem]">Follower</div>
            <div class="w-[5rem]"></div>
        </div>
        <div class="follower list overflow-y-auto max-h-[calc(80vh-4rem)] block px-[1rem] my-0">
        {{#each followers}}
            <div class="follower flex items-center gap-[1rem] text-black">
                <img src="/1.jpg" class="min-w-[2.5rem] min-h-[2.5rem] max-w-[2.5rem] max-h-[2.5rem] rounded-full object-cover" />
                <div class="w-full h-full py-[1rem] following user flex flex-row justify-between gap-4 items-center border-b border-gray-300">
                    <h3 class="text-center text-sm font-medium">{{User.username}}</h3> <!-- Corrected -->
                    <button class="px-4 py-1 text-black bg-white border border-black rounded-lg text-sm font-semibold">
                        Following
                    </button>
                </div>
            </div>
        {{/each}}
        </div>
    </div>

<script>
  document.getElementById('follower-button').addEventListener('click', function (event) {
    event.preventDefault(); // Prevent the default link behavior
    var popup = document.getElementById('follower-popup');
    var overlay = document.getElementById('overlay');
    popup.classList.toggle('hidden');
    overlay.classList.toggle('hidden');
  });

  document.getElementById('overlay').addEventListener('click', function() {
    var popup = document.getElementById('follower-popup');
    var overlay = document.getElementById('overlay');
    
    // Hide the popup and overlay
    popup.classList.add('hidden');
    overlay.classList.add('hidden');
  });

  document.getElementById('close-follower').addEventListener('click', function() {
    var close = document.getElementById('follower-popup');
    close.classList.add('hidden');
    overlay.classList.add('hidden');
  })

</script>