<nav class="w-full py-[.7rem] fixed top-0 z-10">
  <div class="w-[95%] mx-auto flex justify-between items-center">
    <h2 class="text-xl font-bold mx-auto md:mx-0">Ulti Threads</h2>
    <div class="hidden md:block">
      <h2 class="text-xl font-bold">{{headerName}}</h2>
    </div>
    <div class="hidden md:block">
      {{> button link="/login" styling="bg-black text-white" text="Log out" }} 
    </div>
    <div class="text-black block py-[.7rem] md:hidden">
      <span class="text-xl p-[1.2rem] hover:bg-gray-200 hover:rounded-[1rem] transition-all duration-300 ease-in-out">
        <i class="fa-solid fa-grip-lines"></i>
      </span>
      <div
        class="absolute left-[75%] w-[calc(100vw/5)] p-[0.3rem] top-[90%] md:left-[70%] md:w-[15rem] md:p-[.3rem] right-0 bg-white rounded-[1rem]">
        <div
          class="hover:bg-gray-200 hover:rounded-[1rem] transition-all duration-300 ease-in-out p-[calc(100vw/45)] m-[.3rem] rounded-[.5rem] cursor-pointer bg-zinc-100">
          Theme
        </div>
        <div
          class="hover:bg-gray-200 hover:rounded-[1rem] transition-all duration-300 ease-in-out p-[calc(100vw/45)] m-[.3rem] rounded-[.5rem] cursor-pointer bg-zinc-100">
          Detail Information
        </div>
        <div
          class="hover:bg-gray-200 hover:rounded-[1rem] transition-all duration-300 ease-in-out p-[calc(100vw/45)] m-[.3rem] rounded-[.5rem] cursor-pointer bg-zinc-100">
          Settings
        </div>
        <div
          class="hover:bg-gray-200 hover:rounded-[1rem] transition-all duration-300 ease-in-out p-[calc(100vw/45)] m-[.3rem] rounded-[.5rem] cursor-pointer bg-zinc-100">
          <a href="/login">Logout</a>
        </div>
      </div>
    </div>
  </div>
</nav>