<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ulti Threads || {{title}}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body class="bg-white overflow-x-hidden">
    <img class="cover w-full mt-[-2%] object-cover block" src="/img/assets/background.webp" alt="Description of image">
    {{{ body }}}
    {{> footer }}
</body>
</html>
