<div
  class="scrollbar fixed top-[5.4rem] left-1/2 transform translate-x-[-50%] h-[calc(100vh-5*1vh-2rem)] w-[100%] md:w-[38rem] bg-white rounded-[1rem] border border-[#ccc] overflow-y-auto overflow-x-hidden z-3">
  <form action="/" class="mx-4 my-auto items-center justify-between py-[1rem] md:flex hidden">
    <img src="/img/profile/1.jpg"
      class="min-w-[2.5rem] min-h-[2.5rem] max-w-[2.5rem] max-h-[2.5rem] rounded-[50%] overflow-hidden" />
    <input type="text" placeholder="What's new" id="plus-button-post"
      class="justify-self-start w-full pl-4 mr-4 text-[13px] !outline-none" />
    {{> button link="#" styling="bg-white text-black border border-black border-solid rounded-[.7rem]" text="<input
      type='submit' value='Post' class='cursor-pointer' />" }}
  </form>

  <div class="feeds">
    <div class="block border-t border-[#ccc] pt-[1rem] px-[1rem]">
      <a href="/Profile/Post">
        <div class="flex justify-between gap-[1rem] text-black">
          <img src="/img/profile/1.jpg"
            class="min-w-[2.5rem] min-h-[2.5rem] max-w-[2.5rem] max-h-[2.5rem] rounded-[50%] overflow-hidden" />
          <div class="flex gap-[1rem]">
            <div class="flex flex-col gap-[.5rem]">
              <div class="ingo inline-flex gap-[10px] text-[.8rem]">
                <h3>Username</h3>
                <h3 class="text-[#ccc]">1 Hour</h3>
              </div>

              <div class="content">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Necessitatibus dignissimos ipsam vero fuga cum autem
                quibusdam nihil repellat, quis, iure sequi voluptates.
                Eligendi tenetur placeat ducimus incidunt quidem velit
                ratione aliquid minima voluptatum, dolores nihil
                blanditiis omnis debitis ipsa libero? Enim eius ex, ullam
                illo consequuntur laudantium quas assumenda, unde eaque
                deserunt asperiores tempore, tenetur eum odit odio. Ex
                praesentium aliquam assumenda architecto repellendus magni
                cum, quia ratione fugiat porro quis eos maxime quo
                accusantium doloribus labore quos itaque, ad vitae at
                molestias minima? Non, sit velit eos delectus blanditiis
                odio nulla tempore incidunt perferendis voluptatibus ab
                praesentium quia veniam?
              </div>

              <div class="photo">
                <img src="/img/post/oldtrafford_top.jpg" class="w-full max-w-[100%] h-auto object-cover" />
              </div>
            </div>
          </div>
          <span class="edit">
            <i class="fa-solid fa-ellipsis"></i>
          </span>
        </div>
      </a>

      <div class="mb-[1rem] pt-[1rem] px-[3.7rem] flex gap-[1.5rem] items-center">
        <span class="actionbutton like-button relative">
          <i class="fa-regular fa-heart"></i>
        </span>
        <span class="actionbutton comment-button relative">
          <i class="fa-regular fa-comment"></i>
        </span>
        <span class="actionbutton retweet-button relative">
          <i class="las la-retweet"></i>
        </span>
        <span class="actionbutton share-button relative">
          <i class="fa-solid fa-share"></i>
        </span>
      </div>
    </div>


    <div class="block border-t border-[#ccc] pt-[1rem] px-[1rem]">
      <a href="/Profile/Post">
        <div class="flex justify-between gap-[1rem] text-black">
          <img src="/img/profile/1.jpg"
            class="min-w-[2.5rem] min-h-[2.5rem] max-w-[2.5rem] max-h-[2.5rem] rounded-[50%] overflow-hidden" />
          <div class="flex gap-[1rem]">
            <div class="flex flex-col gap-[.5rem]">
              <div class="ingo inline-flex gap-[10px] text-[.8rem]">
                <h3>Username</h3>
                <h3 class="text-[#ccc]">1 Hour</h3>
              </div>

              <div class="content">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Necessitatibus dignissimos ipsam vero fuga cum autem
                quibusdam nihil repellat, quis, iure sequi voluptates.
                Eligendi tenetur placeat ducimus incidunt quidem velit
                ratione aliquid minima voluptatum, dolores nihil
                blanditiis omnis debitis ipsa libero? Enim eius ex, ullam
                illo consequuntur laudantium quas assumenda, unde eaque
                deserunt asperiores tempore, tenetur eum odit odio. Ex
                praesentium aliquam assumenda architecto repellendus magni
                cum, quia ratione fugiat porro quis eos maxime quo
                accusantium doloribus labore quos itaque, ad vitae at
                molestias minima? Non, sit velit eos delectus blanditiis
                odio nulla tempore incidunt perferendis voluptatibus ab
                praesentium quia veniam?
              </div>

              <div class="photo">
                <img src="/img/post/sir.jpg" class="w-full max-w-[100%] h-auto object-cover" />
              </div>
            </div>
          </div>
          <span class="edit">
            <i class="fa-solid fa-ellipsis"></i>
          </span>
        </div>
      </a>

      <div class="mb-[1rem] pt-[1rem] px-[3.7rem] flex gap-[1.5rem] items-center">
        <span class="actionbutton like-button relative">
          <i class="fa-regular fa-heart"></i>
        </span>
        <span class="actionbutton comment-button relative">
          <i class="fa-regular fa-comment"></i>
        </span>
        <span class="actionbutton retweet-button relative">
          <i class="las la-retweet"></i>
        </span>
        <span class="actionbutton share-button relative">
          <i class="fa-solid fa-share"></i>
        </span>
      </div>
    </div>


    <div class="block border-t border-[#ccc] pt-[1rem] px-[1rem]">
      <a href="/Profile/Post">
        <div class="flex justify-between gap-[1rem] text-black">
          <img src="/img/profile/1.jpg"
            class="min-w-[2.5rem] min-h-[2.5rem] max-w-[2.5rem] max-h-[2.5rem] rounded-[50%] overflow-hidden" />
          <div class="flex gap-[1rem]">
            <div class="flex flex-col gap-[.5rem]">
              <div class="ingo inline-flex gap-[10px] text-[.8rem]">
                <h3>Username</h3>
                <h3 class="text-[#ccc]">1 Hour</h3>
              </div>

              <div class="content">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Necessitatibus dignissimos ipsam vero fuga cum autem
                quibusdam nihil repellat, quis, iure sequi voluptates.
                Eligendi tenetur placeat ducimus incidunt quidem velit
                ratione aliquid minima voluptatum, dolores nihil
                blanditiis omnis debitis ipsa libero? Enim eius ex, ullam
                illo consequuntur laudantium quas assumenda, unde eaque
                deserunt asperiores tempore, tenetur eum odit odio. Ex
                praesentium aliquam assumenda architecto repellendus magni
                cum, quia ratione fugiat porro quis eos maxime quo
                accusantium doloribus labore quos itaque, ad vitae at
                molestias minima? Non, sit velit eos delectus blanditiis
                odio nulla tempore incidunt perferendis voluptatibus ab
                praesentium quia veniam?
              </div>

              <div class="photo">
                <img src="/img/post/champion.jpg" class="w-full max-w-[100%] h-auto object-cover" />
              </div>
            </div>
          </div>
          <span class="edit">
            <i class="fa-solid fa-ellipsis"></i>
          </span>
        </div>
      </a>

      <div class="mb-[1rem] pt-[1rem] px-[3.7rem] flex gap-[1.5rem] items-center">
        <span class="actionbutton like-button relative">
          <i class="fa-regular fa-heart"></i>
        </span>
        <span class="actionbutton comment-button relative">
          <i class="fa-regular fa-comment"></i>
        </span>
        <span class="actionbutton retweet-button relative">
          <i class="las la-retweet"></i>
        </span>
        <span class="actionbutton share-button relative">
          <i class="fa-solid fa-share"></i>
        </span>
      </div>
    </div>
  </div>
</div>