<div
    class="scrollbar fixed top-[5.4rem] left-1/2 transform translate-x-[-50%] h-[calc(100vh-5*1vh-2rem)] w-[100%] md:w-[38rem] bg-white rounded-[1rem] border border-[#ccc] overflow-y-auto overflow-x-hidden">
    <form action="/" class="mx-4 my-auto items-center justify-between py-[1rem] md:flex hidden">
        <div class="inline-flex mx-auto bg-[#FAFAFA] rounded-[20px] p-4 w-[95%]">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="search" placeholder="Searching" id="create-post"
                class="bg-[#FAFAFA] justify-self-start w-full pl-4 mr-4 text-[13px] !outline-none" />
        </div>
    </form>

    <div class="feeds">
        <div class="px-[1.2rem] py-[.5rem] text-[14px]">
            Recommendation
        </div>

        {{#each users}}
        <div class="block pt-[1rem] px-[1rem]">
            <a href="/front-end/comment_post/comment_post.html">
                <div class="flex justify-between gap-[1rem] text-black">
                    <img src="{{profile_picture}}"
                        class="min-w-[2.5rem] min-h-[2.5rem] max-w-[2.5rem] max-h-[2.5rem] rounded-[50%] overflow-hidden" />
                    <div class="flex justify-between min-w-[90%] pb-[1rem] border-b border-[#ccc]">
                        <div class="flex flex-col gap-[.5rem]">
                            <div class="ingo flex flex-col gap-[10px] text-[.8rem]">
                                <h3>{{username}}</h3>
                                <h3 class="text-[#ccc]">{{bio}}</h3>
                                <div>100k followers</div>
                            </div>
                        </div>
                        {{> button link="#" styling="bg-white text-black py-[1.2rem] flex items-center h-[2rem] border
                        border-black border-solid rounded-[.7rem]" text="Follow"}}
                    </div>
                </div>
            </a>
        </div>
        {{/each}}
    </div>
</div>